@inject IJSRuntime JSRuntime
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
        <h1 id="heading" class="font-weight-semi-bold text-uppercase">@Value</h1>
    </div>
</div>

@code {
    [Parameter]
    public string Value { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("BlazorSetHeader", Value);
    }
}