<style type="text/css">
    .center-img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 50%
    }
</style>

<div class="container-fluid bg-secondary text-dark">
    <div class="row border-light mx-xl-5 py-4">
        <div class="col-12 px-xl-0">
            <img src="img/401.png" class="center-img" />
        </div>
    </div>
</div>