@inject ISocialMediaService SocialMediaService;

<!-- Topbar Start -->
<div class="container-fluid">
    <div class="row bg-secondary py-2 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
            <div class="d-inline-flex align-items-center">
                <a class="text-dark" href="">FAQs</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" href="">Help</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" href="">Support</a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                @if (SocialMediaService.SocialMedias != null)
                {
                    @foreach (var s in SocialMediaService.SocialMedias)
                   {
                        @if (s.InNewTab)
                        {
                            <a class="text-dark px-2" href="@s.Link" target="_blank">
                                <i class="@s.Icon"></i>
                            </a>
                        }
                        else
                        {
                            <a class="text-dark px-2" href="@s.Link">
                                <i class="@s.Icon"></i>
                            </a>
                        }
                    }
                }
            </div>
        </div>
    </div>
    <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a href="" class="text-decoration-none">
                <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">Little</span>Things</h1>
            </a>
        </div>
        <Search />
    </div>
</div>
<!-- Topbar End -->

@code{
    protected override async Task OnInitializedAsync()
    {
        await SocialMediaService.GetSocialMedias();
    }
}